body{	
	background-color:rgba(55,55,55, 0.1);
	margin:0;
	padding: 0;
}
a{
	text-decoration: none;
	color: navy;
}
i{
	font-size: 200%;
	text-align: center;
}
h1.content{
	font-size: 150%;
	font-weight: 800;
	margin-bottom: -10px;
}
h2.content {
	font-size: 115%;
	font-weight: 800;
	margin: 20px 0 20px;
}
img.displayed {	
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
 }
ul.horizontal li{
 	display: inline;
 	padding: 10px;
 }

/*Main part contain css for conten*/

.class-content{
	margin: 20px;
}

#id-header{
	width: 100%;
	background-color: white;
	text-align: center;
	vertical-align: middle;
	margin-bottom:20px;
	line-height: 100px;
}

#id-footer{
	position: relative;
	width: 100%;
	bottom: 0;
	background-color: rgba(55,55,55, 0.15);
	text-align: center;	
	line-height: 50px;
}

.right-sidebar{
	width: 20%;
	height: auto;
	float: right;
}
.sidebar-box{
	background-color: white;
	text-align: left;
	margin-bottom: 10px;
	padding: 10px;
}

.class-post{
	position: relative;
	width: 70%;
	height: auto;
	background-color: white;
	text-align: left;
	padding: 10px;
	margin-bottom: 10px; 
}